<section class="container-main-content">
    <div class="main-content">
        <span>FULLSTACK DEVELOPER</span>
        <h1>BRUNO FORGIARINI</h1>
        <p>
            Desenvolvedor Fullstack Java/Angular, fique a vontade para conhecer mais sobre mim e meus projetos.
        </p>
        <btn-primary text="Currículo"></btn-primary>
    </div>
    <main-animation></main-animation>     
</section>
<section class="container-about-content">
    <div class="about-content">
        <h2>Sobre mim</h2>
        <p class="about-content-text">
            Meu nome é Bruno, tenho 23 anos e atualmente estou cursando 
            Engenharia de Computação na Universidade Federal do Pampa (Bagé-RS),
            no ultimo ano desenvolvi projetos pessoais e para empresas, 
            fator que contribuiu muito para minha evolução.
            Possuo experiência com o Back-End e Front-End, com Java, C#, C, TypeScript e Javascript.  
            além de outros conhecimentos em AWS, Linux, Banco de Dados(MongoDB e PostgreSQL) , Git, GitHub e Redes. 
        </p>
    </div>
</section>
<section class="container-projects-content">
    <h2>Projetos</h2>
    <project-component></project-component>
</section>
<section class="container-education-content">
    <h2>Formação</h2>
    <education-component></education-component>
</section>