.project-content {
    display: flex;
    flex-direction: column;
}

.project-content-title {
    font-size: 19px;
    margin: 5px;
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
}

.project-content-tag {
    font-size: 14px;
    line-height: 10px;
    padding: 3px;
    border-radius: 1px;
    display: inline-block;
    background-color: var(--cor-borda);
    color: var(--texto-branco);
    margin: 0px 8px 0 5px;
    font-weight: bold;
    font-family: 'Montserrat', sans-serif;
    
}

.project-content-info {
    font-size: 21px;
    margin: 20px 5px 5px 5px;
    font-family: 'Montserrat', sans-serif;
}

.card {
    height: 190px;
    box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
    border-radius: 4px;
    background-color: var(--fundo-branco);
    display: flex;
    flex-direction: column;
    padding: 1%;
    cursor: pointer;
    margin-top: 35px;
    transition: box-shadow 0.5s; 
}

.card:hover {
    transition: box-shadow 0.5s; 
    box-shadow: 0 8px 16px rgb(0, 0, 0, 0.4); 
}




@media (min-width: 1080px) {
    .project-content {
        display: flex;
        flex-direction: row;
    }

    .project-content-title {
        font-size: 18px;
        margin: 5px;
        font-family: 'Montserrat', sans-serif;
        font-weight: bold;
    }

    .project-content-tag {
        font-size: 14px;
        line-height: 10px;
        padding: 3px;
        border-radius: 1px;
        display: inline-block;
        background-color: var(--cor-borda);
        color: var(--texto-branco);
        margin: 0px 8px 0 5px;
        font-weight: bold;
        font-family: 'Montserrat', sans-serif;
        
    }

    .project-content-info {
        font-size: 18px;
        margin: 20px 5px 5px 5px;
        font-family: 'Montserrat', sans-serif;
    }

    .card {
        width: 400px;
        height: 190px;
        box-shadow: 0 4px 8px rgb(0, 0, 0, 0.2);
        border-radius: 4px;
        background-color: var(--fundo-branco);
        display: flex;
        flex-direction: column;
        padding: 1%;
        cursor: pointer;
        margin: 1%;
        transition: box-shadow 0.5s; 
    }
    
    .card:hover {
        transition: box-shadow 0.5s; 
        box-shadow: 0 8px 16px rgb(0, 0, 0, 0.4); 
    }
}