<div class="card" *ngFor="let project of projects">
  <div class="card-conteudo">
    <!-- <div class="card-img">
      <img [src]="project.url" alt="Imagem do Projeto" class="project-img">
    </div> -->

      <div class="project-content-info">
        <div class="card-infos">
          <div class="project-content-title">
            <p class="project-title">{{ project.title }}</p>
            <span class="project-content-link" (click)="goToRepository(project.repoLink)">
              <p>Ver no GitHub</p>
              <img [src]="ghIco" alt="Icone do GitHub" class="gh-ico">
            </span>
          </div>
        <p class="project-info">
          {{ project.info }}
        </p>
        <div>
          <span class="project-content-info-item borda">
            <h2 class="project-content-info-title">Informações do Projeto</h2>
          </span>
          <span class="project-content-info-item borda">
            <p><strong>Ano</strong></p>
            <p class="info-value">{{project.date}}</p>
          </span>
          <span class="project-content-info-item borda">
            <p><strong>Tipo</strong></p>
            <p class="info-value">{{project.type}}</p>
          </span>
        </div>
      </div>
      <div>
        <span class="project-content-tag" *ngFor="let tag of project.tags">{{ tag }}</span>
      </div>
  </div>
  </div>
</div>