.btn-primary {
    font-size: 22px;
    font-weight: 500;
    padding: 12px 22px;
    background-color: transparent;
    color: white;
    border: 2px solid white;
    border-radius: 30px;
    font-family: 'Montserrat', sans-serif;
    cursor: pointer;
    transition: color 0.2s ease-out, transform 0.3s ease-out, border-color 0.2s ease-out;
}

.btn-primary:hover {
    color: var(--destaque);
    border-color: var(--destaque);
    transform: scale(1.01);
}