.container-contato {
    margin: 50px 0 30px 0;
    display: flex;
    justify-content: center;
}
@media (min-width: 1080px) {
    .container-contato {
        margin: 70px 0 30px 0;
        display: flex;
        justify-content: center;
    }
}